

body{
  height: 100%;
  width: 100%;
  z-index: -1000;
  /* background: url("./Components/weather-bg.jpg"); */
  background-image: url("https://www.wallpaperflare.com/static/302/309/318/milky-way-starry-sky-night-sky-star-wallpaper.jpg");
  background-size: cover;
  object-fit: cover;
}